@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400);

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

body {
  background-color: #000;
  margin: 0;
}

ol {
  padding: 0;
  list-style: none;
}

li {
  font-weight: 300;
}

a {
  color: #fff;
}